.columnCollection2 {
    float: left;
    width: 40.33%;
    padding: 4px 0 4px 0;
    /* height: 300px; Should be removed. Only for demonstration */
  }
  


  .columnCollection1 {
    float: left;
    width: 3.33%;
    padding: 4px 0 4px 0;
    /* height: 300px; Should be removed. Only for demonstration */
  }

  /* Clear floats after the columns */
  .rowCollection:after {
    content: "";
    display: table;
    clear: both;
  }

  .managerows:nth-child(even) {background-color: rgb(248, 255, 246);}

  
  .pill {
    /* background-color: #ddd; */
    border: none;
    /* color: black; */
    padding: 4px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
  }


  ::-webkit-scrollbar {
    width: 5px;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px rgb(161, 247, 2); 
    border-radius:10px;
    }
     
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
    background:#a5cd39; 
    border-radius:10px;
    }

    .container {
      display: flex; /* make the container a flexbox */
    /* 	justify-content: center; center the items horizontally */
      align-items: center; /* center the items vertically */
      }

      .scrollcontent {
        max-height: 500px;
        width: auto;
        overflow: auto;
        padding-bottom: 1%;
      }


      .rowcollection {
        display: flex;
        align-items: center;
        }
        
        .collectionhead1 {
        width: 2%;
        margin-right: 10px;
        justify-content:end;
        }
        
        .collectionhead2 {
        width: 51%;
        padding: 0 0 5px 0;
        justify-content: end;
        }

        .pillbutton{
          border: none;
          /* color: black; */
          padding: 4px 12px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          margin: 4px 2px;
          cursor: pointer;
          border-radius: 16px;
         }


         .inputclass {
          /* max-width: 190px; */
          height: 30px;
          /* background-color: #05060f0a; */
          border-radius: .5rem;
          padding: 0 1rem;
          border-color: none;
          /* border-color: #05060f; */
          /* border: 2px solid transparent; */
          font-size: 1rem;
          /* transition: border-color .3s cubic-bezier(.25,.01,.25,1) 0s, color .3s cubic-bezier(.25,.01,.25,1) 0s,background .2s cubic-bezier(.25,.01,.25,1) 0s; */
          }


          
  .input {
    /* max-width: 190px; */
    height: 44px;
    background-color: #05060f0a;
    border-radius: .5rem;
    padding: 0 1rem;
    /* border-color: #05060f; */
    /* border: 2px solid transparent; */
    font-size: 1rem;
    transition: border-color .3s cubic-bezier(.25,.01,.25,1) 0s, color .3s cubic-bezier(.25,.01,.25,1) 0s,background .2s cubic-bezier(.25,.01,.25,1) 0s;
    }


    .shareButton{
      display: inline-flex;
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-pack: center;
      justify-content: center;
      position: relative;
      box-sizing: border-box;
      -webkit-tap-highlight-color: transparent;
      background-color: transparent;
      outline: 0px;
      margin: 0px;
      cursor: pointer;
      user-select: none;
      vertical-align: middle;
      appearance: none;
      text-decoration: none;
      font-weight: 400;
      font-family: __Plus_Jakarta_Sans_b77b1c, __Plus_Jakarta_Sans_Fallback_b77b1c, Helvetica, Arial, sans-serif;
      font-size: 0.8125rem;
      line-height: 1.75;
      min-width: 64px;
      padding: 3px 9px;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
      border: 1px solid rgba(0, 133, 219, 0.5);
      color: rgb(0 0 0);
      text-transform: none;
      box-shadow: none;
      border-radius: 25px;
    }


    .carddesign{
      display: grid;
    justify-content: space-around;
    grid-template-columns: 1fr 1fr 1fr  ;
    }

    .cardforall {
      width: 100%;
      max-width: 350px;
      border: 1px solid #ddd;
      border-radius: 15px;
      margin-bottom: 20px;
      overflow: hidden;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    @media only screen and (min-device-width: 376px) and (max-device-width: 479px) {
      .card {
        max-width: 100%;
      }
      .card-row {
        /* width: auto; */
        min-height: auto;
    width: auto;
         display: grid;
        justify-content: space-around;
        grid-template-columns: 1fr ;
        grid-gap: 2px;
      }
    }



    .checkbox-wrapper-34 {
      --blue: #0085db;
      --g08: #E1E5EB;
      --g04: #848ea1;
      }
      
      .checkbox-wrapper-34 .tgl {
      display: none;
      }
      .checkbox-wrapper-34 .tgl,
      .checkbox-wrapper-34 .tgl:after,
      .checkbox-wrapper-34 .tgl:before,
      .checkbox-wrapper-34 .tgl *,
      .checkbox-wrapper-34 .tgl *:after,
      .checkbox-wrapper-34 .tgl *:before,
      .checkbox-wrapper-34 .tgl + .tgl-btn {
      box-sizing: border-box;
      }
      .checkbox-wrapper-34 .tgl::selection,
      .checkbox-wrapper-34 .tgl:after::selection,
      .checkbox-wrapper-34 .tgl:before::selection,
      .checkbox-wrapper-34 .tgl *::selection,
      .checkbox-wrapper-34 .tgl *:after::selection,
      .checkbox-wrapper-34 .tgl *:before::selection,
      .checkbox-wrapper-34 .tgl + .tgl-btn::selection {
      background: none;
      }
      .checkbox-wrapper-34 .tgl + .tgl-btn {
      outline: 0;
      display: block;
      width: 145px;
      height: 35px;
      position: relative;
      cursor: pointer;
      user-select: none;
      font-size: 12px;
      font-weight: 400;
      color: #fff;
      }
      .checkbox-wrapper-34 .tgl + .tgl-btn:after,
      .checkbox-wrapper-34 .tgl + .tgl-btn:before {
      position: relative;
      display: block;
      content: "";
      width: 44%;
      height: 100%;
      }
      .checkbox-wrapper-34 .tgl + .tgl-btn:after {
      left: 0;
      }
      .checkbox-wrapper-34 .tgl + .tgl-btn:before {
      display: inline;
      position: absolute;
      top: 7px;
      }
      .checkbox-wrapper-34 .tgl:checked + .tgl-btn:after {
      left: 56.5%;
      }
      
      .checkbox-wrapper-34 .tgl-ios + .tgl-btn {
      background: var(--blue);
      border-radius: 20rem;
      padding: 2px;
      transition: all 0.4s ease;
      box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
      }
      .checkbox-wrapper-34 .tgl-ios + .tgl-btn:after {
      border-radius: 2em;
      background: #fff;
      transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding 0.3s ease, margin 0.3s ease;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
      }
      .checkbox-wrapper-34 .tgl-ios + .tgl-btn:before {
      content: "My Collection";
      left: 70px;
      /* color: var(--g04); */
      /* transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275); */
      }
     
    
    
      .checkbox-wrapper-34 .tgl-ios + .tgl-btn:active {
      box-shadow: inset 0 0 0 30px rgba(0, 0, 0, 0.1);
      }
      .checkbox-wrapper-34 .tgl-ios + .tgl-btn:active:after {
      padding-right: 0.4em;
      }
      .checkbox-wrapper-34 .tgl-ios:checked + .tgl-btn {
      background: var(--blue);
      }
      .checkbox-wrapper-34 .tgl-ios:checked + .tgl-btn:active {
      box-shadow: inset 0 0 0 30px rgba(0, 0, 0, 0.1);
      }
      .checkbox-wrapper-34 .tgl-ios:checked + .tgl-btn:active:after {
      margin-left: -0.4em;
      }
      .checkbox-wrapper-34 .tgl-ios:checked + .tgl-btn:before {
      content: "All";
      left: 4px;
      font-weight: bold;
      color: #fff;
      display:"flex";
      justify-content: center;
      }


      :root {
        --arrow-bg: white;
        --arrow-icon: url("./icons52.png");
        --option-bg: white;
        --select-bg: white;
        
        }
      
        .selectquestion {
        /* Reset */
        appearance: none;
        border: 0;
        outline: 1;
        font: inherit;
        /* Personalize */
        width: 10rem;
        padding: 0.5rem 2rem 0.5rem 1rem;
        background: url("./icons52.png") no-repeat right 0.8em center / 1.4em,
          linear-gradient(to left, var(--arrow-bg) 3em, var(--select-bg) 3em);
        color: black;
        border-radius: 15px;
        box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
        cursor: pointer;
        
        /* Remove IE arrow */
        &::-ms-expand {
          display: none;
        }
        
        /* Remove focus outline */
        &:focus {
          outline: none;
        }
        
        /* <option> colors */
        option {
          color: inherit;
          background-color: lightgray;
        }
        }