.starrating {
  visibility:hidden;
  font-size:18px;
  width: 2px;
  /* top: -5px; */
  cursor:pointer;
  /* background-color: aqua; */
  /* color: rgb(255, 221, 0); */
}



.starrating:before {
 content: "\2606";
 position: absolute;
 visibility:visible;
}
.starrating:checked:before {
 content: "\2605";
 position: absolute;
 color: rgb(255, 247, 10);
}







